* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NavBar */
header {
  background-color: #333;
  padding: 20px;
}
.header_container {
  padding: 0 5% 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  list-style-type: none;
  margin: 0;
}

.menu ul li {
  display: inline;
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
}

.menu ul li a:hover {
  background-color: #555;
}

/* main */
.main_container {
  padding: 0 5% 0 5%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  text-align: center;
}

.presentation {
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation > h1 {
  font-size: 75px;
  padding-bottom: 20px;
}

.presentation > p {
  max-width: 700px;
}

/* Section Images */
.img_container {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  padding: 30px 0 30px 0;
}

.img_container img {
  width: 200px;
  height: 145px;
  object-fit: cover;
  margin: 5px;
  border: 3px  solid #333;
}

/* section services */
.ul_services_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Pour l'espacement entre les colonnes */
}

.list_services_container {
  width: calc(33.33% - 20px); /* Pour créer trois colonnes, avec 20px d'espacement */
  margin-bottom: 20px; /* Espacement entre les lignes */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_services_container h2 {
  width: 100%; /* Ajuste la largeur pour occuper toute la largeur de la colonne */
  text-align: center; /* Centre le texte */
  padding-top: 30px;
}

.list_services_container p {
  text-align: justify; /* Justifie le texte du paragraphe */
  padding-top: 10px;
  max-width: 90%;
}

.list_services_container span {
  display: block;
}

footer {
  background-color: #333;
  padding: 20px;
}
::-webkit-scrollbar {
  display: none;
}