* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NavBar */
header {
  background-color: #333;
  padding: 20px;
}
.header_container {
  padding: 0 5% 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  list-style-type: none;
  margin: 0;
}

.menu ul li {
  display: inline;
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
}

.menu ul li a:hover {
  background-color: #555;
}


/* Titre de la page */
.main_container {
  padding-bottom: 50px;
}
.main_container, .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title > h1 {
  font-size: 65px;
  padding-top: 20px;
}

.title > h2 {
  font-size: 40px;
  padding-top: 60px;
}

/* Informations */
.infos {
  width: calc(70%); /* Pour créer trois colonnes, avec 20px d'espacement */
  padding: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.infos p {
  text-align: center;
}

.infos span {
  font-size: 25px;
  display: block;
}

/* Mosaic d'images */
.img_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.image {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: #555;
  border-radius: 12px;
  border: 1px solid #555;
  padding: 38px;  
}

.image > img {
  width: 400px;
  height: 350px;
  background-size: cover;
}

.image > .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

footer {
  background-color: #333;
  padding: 20px;
}
::-webkit-scrollbar {
  display: none;
}